footer {
    display: flex;
    flex-direction: column;
    height: 5vh;
    color: var(--textColor);
    line-height: 1.55rem;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.coordinates {
    display: flex;
    column-gap: 1.5rem;
}


@media (max-width: 1000px) {
    footer {
        height: initial;
        width: initial;
        align-items: center;
        font-size: initial;
        margin-bottom: 0;
        margin-left: 0;
    }

}